# build output
dist/
.astro/
.wrangler/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.local
.env.production
.env.*.local
.dev.vars

# editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store

# OS
Thumbs.db

# misc
*.log
